$outline: var(--zen-outline, 2px solid hsl(200deg 100% 50% / 50%));
$transition-duration: 0.15s;
$placeholder-color: var(--zen-input-placeholder-color, hsl(0deg 0% 60%));
$size: var(--zen-switch-size, 1rem);
$margin: var(--zen-switch-margin, 2px);
$width: var(--zen-switch-width, 30px);
$height: calc(#{$size} + #{$margin} * 2);

:host {
  cursor: pointer;
  background: hsl(0deg 0% 80%);
  border-radius: 9999px;
  width: $width;
  height: $height;
  position: relative;
  display: block;
  transition:
    background-color ease,
    border-color ease;
  transition-duration: $transition-duration;
  vertical-align: middle;
  user-select: none;
  padding: $margin;
  box-sizing: border-box;

  .switch-handle {
    display: grid;
    position: absolute;
    height: $size;
    width: $size;
    background-color: white;
    border-radius: 9999px;
    font-size: 12px;
    justify-content: center;
    place-items: center;
    color: $placeholder-color;
    transition:
      background-color $transition-duration ease,
      border-color $transition-duration ease,
      left $transition-duration ease,
      transform $transition-duration ease;
    left: $margin;
    transform: translateX(0);
  }

  &:active .switch-handle {
    width: calc(#{$size} + 2px);
  }

  &:focus-visible {
    outline: $outline;
  }

  &[data-checked='true'] {
    background-color: hsl(0deg 0% 10%);

    .switch-handle {
      color: hsl(0deg 0% 10%);
      left: 100%;
      transform: translateX(calc(-100% - #{$margin}));
    }
  }

  &[data-disabled='true'] {
    pointer-events: none;
    opacity: 0.6;
  }
}
