// Globals
$outline: var(--zen-outline, 2px solid hsl(200deg 100% 50% / 50%));
$transition-duration: var(--zen-transition-duration-quick, 0.1s);
$placeholder-color: var(--zen-placeholder-color, hsl(0deg 0% 60%));
$focus-shadow: var(--zen-focus-shadow, 0 1px 4px hsl(0deg 0% 60% / 20%) inset);
$appearance: var(--zen-appearance, hsl(0deg 0% 10%));

:host {
  --zen-switch-thumb-size: 1rem;
  --zen-switch-height: 1.25rem;
  --zen-switch-width: 2rem;
  --zen-switch-apperance: #{$appearance};
  --zen-switch-background: hsl(0deg 0% 80%);
}

/* stylelint-disable-next-line no-duplicate-selectors -- separate variables and styles */
:host {
  $thumb-x-center-position: calc(var(--zen-switch-height) / 2 - var(--zen-switch-thumb-size) / 2);

  background: var(--zen-switch-background);
  height: var(--zen-switch-height);
  width: var(--zen-switch-width);
  cursor: pointer;
  border-radius: 9999px;
  position: relative;
  display: flex;
  place-items: center;
  user-select: none;

  // Animation
  transition-property: background-color, border-color;
  transition-duration: $transition-duration;
  transition-timing-function: ease;

  .thumb {
    height: var(--zen-switch-thumb-size);
    width: var(--zen-switch-thumb-size);
    position: absolute;
    background-color: white;
    border-radius: 9999px;

    // Animation
    transition-property: left, transform, width;
    transition-timing-function: ease;
    transition-duration: $transition-duration;
    left: $thumb-x-center-position;
    transform: translateX(0);

    &:not(:empty) {
      // Handle content
      display: grid;
      font-size: small;
      justify-content: center;
      place-items: center;
      color: $placeholder-color;
    }
  }

  &:focus-visible {
    outline: $outline;
    box-shadow: $focus-shadow;
  }

  &[data-checked='true'] {
    background-color: var(--zen-switch-apperance);

    .thumb {
      left: 100%;
      color: var(--zen-switch-apperance);
      transform: translateX(calc(-100% - #{$thumb-x-center-position}));
    }
  }

  &[data-disabled='true'] {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &:active:not([data-disabled='true']) .thumb {
    width: calc(var(--zen-switch-thumb-size) + 2px);
  }
}
