// Globals
$error: var(--zen-error, hsl(0deg 70% 50%));
$focus-shadow: var(--zen-focus-shadow, 0 1px 4px hsl(0deg 0% 60% / 20%) inset);
$outline: var(--zen-outline, 2px solid hsl(200deg 100% 50% / 50%));
$transition-duration: var(--zen-transition-duration, 0.2s);
$disabled-opacity: var(--zen-disabled-opacity, 0.6);

:host {
  --zen-radio-size: 1rem;
  --zen-radio-border-radius: 50%;
  --zen-radio-appearance: hsl(0deg 0% 10%);
  --zen-radio-border: 1px solid hsl(0deg 0% 80%);
}

/* stylelint-disable-next-line no-duplicate-selectors -- separate variables and styles */
:host {
  display: inline-grid;
  grid-template-columns: var(--zen-radio-size) 1fr;
  gap: 0.25rem 0.5rem;
  align-items: center;

  &:has(input[type='radio']:disabled) {
    opacity: $disabled-opacity;

    &,
    input,
    label {
      cursor: not-allowed;
    }
  }
}

input[type='radio'] {
  appearance: none;
  grid-column: 1;
  grid-row: 1;
  border: var(--zen-radio-border);
  border-radius: var(--zen-radio-border-radius);
  height: var(--zen-radio-size);
  width: var(--zen-radio-size);
  background-color: white;
  cursor: pointer;
  margin: 0;
  padding: 0;
  transition:
    background-color ease,
    border-color ease;
  transition-duration: $transition-duration;

  &:checked {
    border-color: var(--zen-radio-appearance);
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:focus-visible {
    outline: $outline;
    box-shadow: $focus-shadow;
  }

  &:user-invalid {
    border-color: $error;
  }
}

.radio-dot {
  grid-column: 1;
  grid-row: 1;
  place-self: center center;
  pointer-events: none;
  width: calc(var(--zen-radio-size) * 0.4);
  height: calc(var(--zen-radio-size) * 0.4);
  background-color: var(--zen-radio-appearance);
  border-radius: 50%;
  animation: radio-dot-enter 0.2s ease-out;
}

@keyframes radio-dot-enter {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

zen-label {
  grid-column: 2;
  grid-row: 1;
}

zen-hint {
  grid-column: 1 / -1;
}
