// Component Variables
$border: var(--zen-input-border, 1px solid hsl(0% 0% 80%));
$border-radius: var(--zen-input-border-radius, 8px);
$padding: var(--zen-input-padding, 0.5rem 1rem);
$focus-shadow: var(--zen-input-focus-shadow, 0 1px 4px hsla(0% 0% 60% / 20%) inset);
$placeholder-color: var(--zen-input-placeholder-color, hsl(0% 0% 60%));

// Color Palette
$outline: var(--zen-outline, 1px solid hsl(0% 0% 60%));
$error: var(--zen-error, hsl(0% 70% 50%));

:host {
  border: $border;
  border-radius: $border-radius;
  padding: $padding;

  &[autoresize] {
    field-sizing: content;
    resize: none;
  }

  &:disabled {
    opacity: 0.6;
  }

  &:focus-visible {
    outline: $outline;
    box-shadow: $focus-shadow;
  }

  &:user-invalid {
    border-color: $error;
  }

  &::placeholder {
    color: $placeholder-color;
  }
}
