:host {
  --zen-divider-appearance: hsl(0deg 0% 60%);
  --zen-divider-type: solid;
  --zen-divider-align-offset: 25%;
  --zen-divider-gap: 0.25rem;
  --zen-divider-thickness: 1px;
}

/* stylelint-disable-next-line no-duplicate-selectors -- separate variables and styles */
:host {
  color: var(--zen-divider-appearance);
  gap: var(--zen-divider-gap);
  width: 100%;
  display: flex;
  align-items: center;

  &::before,
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    border-color: var(--zen-divider-appearance);
    border-style: var(--zen-divider-type);
    border-width: var(--zen-divider-thickness) 0 0;
  }

  &:empty {
    gap: 0;

    &::after {
      content: none;
    }
  }

  &.zen-align-start::before,
  &.zen-align-end::after {
    width: var(--zen-divider-align-offset);
  }
}

:host[vertical]:not([vertical='false']) {
  flex-direction: column;
  width: unset;
  height: 100%;

  &::before,
  &::after {
    content: '';
    display: block;
    width: unset;
    height: 100%;
    border-width: 0 var(--zen-divider-thickness) 0 0;
  }

  &.zen-align-start::before,
  &.zen-align-end::after {
    height: var(--zen-divider-align-offset);
  }
}
