@if (label()) {
  <zen-label size="sm" [disabled]="disabled()" [for]="id()" [required]="required()">{{ label() }}</zen-label>
}
<input
  #inputRef
  [aria-invalid]="invalid() || null"
  [disabled]="disabled()"
  [id]="id()"
  [placeholder]="placeholder()"
  [required]="required()"
  [type]="type()"
  [value]="value()"
  (input)="onInput(inputRef.value)"
/>
@if (shouldShowError()) {
  @for (error of errors(); track $index) {
    <zen-hint severity="error">
      @if (errorTemplate()) {
        <ng-container *ngTemplateOutlet="errorTemplate()!; context: { $implicit: error }" />
      } @else {
        {{ error.message }}
      }
    </zen-hint>
  }
} @else if (warn()) {
  <zen-hint severity="warning">{{ warn() }}</zen-hint>
} @else if (hint()) {
  <zen-hint>{{ hint() }}</zen-hint>
}
